@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

body [xml|lang]{
	font-style: italic;
}

q{
	font-style: italic;
	quotes: none;
}

q i{
	font-style: normal;
}

[epub|type~="se:diary.dateline"]{
	font-style: italic;
	margin-bottom: .5em;
	margin-top: 1em;
	text-indent: 0;
}

table{
	margin: 1em auto;
}

td:first-child{
	font-variant-numeric: tabular-nums;
	text-align: right;
}

/* location-specific */
#chapter-4-2-9 blockquote > header{
	font-variant: small-caps;
	margin-bottom: .5em;
	text-align: center;
	text-transform: lowercase;
}

/* alphabet code */
dl{
	margin: 0.5em 0;
	text-align: center;
}

dl:nth-of-type(1){
	margin-top: 1em;
}

dl:nth-last-of-type(1){
	margin-bottom: 1em;
}

dl > div{
	display: inline-block;
	margin: 0 0.5em;
}

dt,
dd{
	margin: 0;
}
/* end of alphabet code */

/* dramatis personae */
[epub|type~="z3998:dramatis-personae"]{
	text-align: center;
}

[epub|type~="z3998:dramatis-personae"] ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

[epub|type~="z3998:dramatis-personae"] > ul > li{
	font-variant: small-caps;
	margin-top: 2em;
}

[epub|type~="z3998:dramatis-personae"] ul > li > ul > li{
	font-style: italic;
	font-variant: normal;
	margin: 1em;
}
/* end of dramatis personae */

/* letter */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

[epub|type~="z3998:salutation"]{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

blockquote > footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-indent: 0;
	text-align: left;
}
/* end of letter */

/* song/verse */
[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:song"] p + p{
	margin-top: 1em;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}
/* end of song/verse */
